{
	"reporter": [
		"lcov",
		"json",
		"text-summary"
	],
	"report-dir": "./coverage",
	"exclude": [
		"src/**/*.test.js"
	],
	"check-coverage": true,
	"lines": 0,
	"statements": 0,
	"branches": 0,
	"functions": 0
}
