{
	"reporter": [
		"lcov",
		"json",
		"text-summary"
	],
	"report-dir": "./coverage",
	"exclude": [
		"src/**/*.test.js"
	],
	"check-coverage": true,
	"lines": 100,
	"statements": 100,
	"branches": 100,
	"functions": 100
}
